<!--
  Generated template for the BookingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
<div class="container">
  <div class="hotel" *ngFor="let hotel of hotels;">
<div class="thumb" >
  <div class="box">
    <img src="{{hotel.image}}" class="thumbnail" alt="hotel">
    <button class="fas" ion-button clear (click)="goBack()"><ion-icon name="arrow-back"></ion-icon></button>
  </div>
   
   
  <div padding>
      <ion-segment [(ngModel)]="pet">
        <ion-segment-button value="Description">
          Description
        </ion-segment-button>
        <ion-segment-button value="Contact">
          Contact Us
        </ion-segment-button>
      </ion-segment>
    </div>
    
    <div [ngSwitch]="pet">
      <ion-list >
        <ion-item>
        
        </ion-item>
      </ion-list>
      <div *ngSwitchCase="'Description'">
        <div class="describe" padding>
          <h4>{{hotel.hotelName}}</h4>
          <p>{{hotel.Description}}</p>
      </div>
      </div>
    
      <ion-list *ngSwitchCase="'Contact'">
        <ion-item padding>
          <ion-icon item-start name="call">
          </ion-icon>
          <h2>{{hotel.Contact}}</h2>
        </ion-item>
        <ion-item padding>
            <ion-icon item-start name="pin">
            </ion-icon>
            <h2>{{hotel.Location}}</h2>
          </ion-item>
        ...
      </ion-list>
    </div>

</div>

  </div>
  <h3 *ngIf="notFound">{{notFound}}</h3>
  <div class="rooms">
 <ion-slides spaceBetween="-50">
   <ion-slide *ngFor="let room of rooms;" padding>
      <div class="box2" (click)="bookNow(room.key)">
          <div class="log">
           <button class="fas" ion-button icon-only clear><ion-icon name="heart" ></ion-icon></button>
             <img src="{{room.image}}" class="thumbnail">
            
             <div class="text-markup">
               <p style="font-weight: 400; font-size: 17px; color: #f4f4f4; text-shadow: 1px 1px #222; letter-spacing: .3rem;">R. {{room.Price}}</p>
                <p style="font-weight: 400; font-size: 15px; color: #f4f4f4; text-shadow: 1px 1px #222">{{room.RoomType}}</p>
              </div>
          </div> 
         </div>
   </ion-slide>
 </ion-slides>
  </div>
</div>


</ion-content>
